.article{
    &__wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: center; 
    }
    &__img {
        max-width: 350px;
        margin: 10px;
    }
    &__pic{
        width: 100%;
        
    }
}